<%- include('header'); -%>

<div class="container box">
<h3 style="color:white;" class="text-center">BMI calculator</h3>
<form>
<label style="color:white;">Height</label>
<input class="inputbmi">


<label style="color:white;">Weight</label>
<input class="inputbmi">
<br>
 <button type="submit" class="">Submit</button>
 
</form>
</div>

<%- include('footer'); -%>